$piano-width: 300px;
$piano-height: 150px;
$white-key-width: $piano-width / 7;
$black-key-width: $piano-width / 13;
$black-key-height: $piano-height / 1.6;
$half-black-key: $black-key-width / 2;

.playground-piano {
  width: $piano-width;
  height: $piano-height;
  border: 1px solid black;
}

.playground-black-keys {
  top: 0;
  left: $black-key-width + $half-black-key - 1;
  .piano-key {
    position: absolute;
    width: $black-key-width;
    height: $black-key-height;
    background-color: black;
  }
  .first { left: 0; }
  .second { left: $white-key-width - 1; }
  .third { left: ($white-key-width * 3) - 1; }
  .fourth { left: ($white-key-width * 4) - 1; }
  .fifth { left: ($white-key-width * 5) - 1}
}

.playground-white-keys {
  .piano-key {
    width: $white-key-width;
    height: $piano-height;
    border: 2px solid black;
    background-color: white;
  }
}